<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_chater"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_chater_round"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.MyStorage"
        tools:targetApi="31">
        <activity
            android:name=".activity.Profile"
            android:exported="false" />
        <activity
            android:name=".activity.Calling_Class"
            android:exported="false" />
        <activity
            android:name=".activity.setting"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ChatWindow"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RegistrationUi"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LoginUi"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.splash"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>